:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-color: #FFFCF9;
  --text-color: #542A00;
  --selected-color: #FDB66A;
  --inactive-color: #FFEAD7;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
}

html,
body {
  position: relative;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 62.5%;
  background-color: var(--background-color);
}


