.heroContainer {
    margin: 5rem 6.5rem 0 6.5rem;
    position: relative;
  }
  
  .heroImage {
    border-radius: 4rem;
    z-index: -1;
    width: 100%;
    height: auto;
  }
  
  .h1 {
    color: var(--background-color);
    font-size: 6.4rem;
    font-style: normal;
    line-height: 122.5%;
    letter-spacing: -0.1408rem;
    z-index: 1;
    font-weight: 700;
  }
  
  .p {
    color: var(--background-color);
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 3.6rem */
    letter-spacing: -0.0528rem;
  }
  
  .heroText{
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 25%;
      right: 10%;
  }
  
  .leftShape{
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 0;
      width: 50%;
  }
  
  .bottomPart {
      display: flex;
      align-items: flex-end;
  }
  
  .leftSquare {
      background-color:var(--background-color);
      height: 8rem;
      width: 100%;
      border-radius: 0 4rem 0 4rem;
      bottom: 0;
      display: flex;
      align-items: flex-end;
      z-index: 5;
  }
  
  .aboutButton{
    color: var(--text-color);
    font-size: 2rem;
    display: flex;
    gap: 3rem;
    list-style-type: none;
    margin-left: 15%;
    position: sticky;
  top: 0; /* Stick to the top of the screen */
  z-index: 999; 
  }

  .aboutButton li{
    padding: 0.7rem 2.4rem;
    background-color: var(--inactive-color);
    border-radius: 5rem;
  }

  .aboutButton li:hover,
  .aboutButton .active{
    background-color: var(--selected-color);
    /* transition: all 0.5s ease-in-out; */
    cursor: pointer;
  }

  .cornerImage{
      border: 0;
      bottom: 0;
      transform: rotate(180deg);
      height: 4rem;
      width: 4rem;
  }
  
  .rightShape{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      bottom: 0;
      right: 0;
      width: 40%;
  }
  
  .rightSquare{
    display: flex;
      background-color:var(--background-color);
      height: 8rem;
      width: 100%;
      border-radius: 4rem 0 4rem 0;
      color: var(--text-color);
      font-size: 2rem;
      align-items: center;
      padding-left: 3rem;
      z-index: 4;
      /* justify-content: flex-end; */
      /* align-items: flex-end; */
  }
  
  .rightCornerImage{
      /* background-color: var(--background-color); */
      transform: rotate(90deg);
      height: 4rem;
      width: 4rem;
  }
  
  .mobileText{
    display: none;
  }

  .mobileTextDivider{
    display: none;
  }

  @media (max-width: 1201px) {
    .rightSquare{
      font-size: 1.6rem;
    }
    .leftSquare{
      height: 6rem;
    }
    .cornerImage{
      height: 3rem;
      width: 3rem;
    }
    .aboutButton{
      margin-left: 5%;
      gap: 1rem;
      font-size: 1.6rem;
    }
  }

  @media (max-width: 921px) {
    .h1{
      font-size: 4.8rem;
    }

    .p{
      font-size: 2rem;
    }

    .leftSquare{
      height: 4rem;
      border-radius: 0 2rem 0 2rem;
    }

    .leftShape{
      width: 60%;
    }

    .cornerImage{
      width: 2rem;
      height: 2rem;
    }

  }

  @media (max-width: 768px){
    .heroContainer{
      margin: 0;
      height: auto;
    }

    .heroImage {
      transform: scale(1);
      border-radius: 0;
    }

    .content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .heroImageContainer{
      height: 100vh;
    }

    .rightShape{
      display: none;
      position: relative;
      bottom: 0;
    }

    .leftShape{
      position: relative;
      margin-top: 0;
      display: none;
    }

    .rightCornerImage{
      display: none;
    }

    .rightSquare{
      background-color: transparent;
      width: fit-content;
    }

    .cornerImage{
      display: none;
    }

    .leftSquare{
      background-color: transparent;
      justify-content: center;
    }

    .heroText{
      justify-content: center;
      align-items: center;
      right: auto;
      left: auto;
    }

    .aboutButton{
      margin: 0;
    }

    .h1{
      font-size: 6.4rem;
      width: min-content;
      text-align: center;
    }

    .mobileText{
      display: block;
      font-size: 1.6rem;
      color: var(--text-color);
      text-align: center;
      margin: 5% 10%;
    }

  }

  @media (max-width: 480px) {
    .heroContainer{
      height: auto;
    }

    .heroImageContainer{
      height: 100vh;
    }
    .heroImage {
      transform: scale(1);
      border-radius: 0;
    }

    .rightShape {
      display: none;
    }

    .mobileText{
      display: block;
      font-size: 1.6rem;
      color: var(--text-color);
      text-align: center;
      margin: 5% 10%;
    }

    .mobileTextDivider{
        display: block;
        width: 80%;
        height: 0.2rem;
        background-color: rgba(84, 42, 0, 0.50);
        margin: 0 auto;
    }

  }