

.iniImageTitleContainer{
  position: relative;
  width: auto;
  height: auto;
  margin: 5rem 6.5rem 0 6.5rem;
  border-radius: 5rem;
}

.iniImage{
  border-radius: 5rem;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.iniTitle{
  position: absolute;
  width: max-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--background-color);
  font-size: 9.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 19.2rem */
  letter-spacing: -0.2816rem;
  z-index: 100;
}

.leftShape{
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 45%;
}

.bottomPart {
  display: flex;
  align-items: flex-end;
}

.leftSquare {
  background-color:var(--background-color);
  height: 8rem;
  width: 100%;
  border-radius: 0 4rem 0 4rem;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 5;
}

.aboutButton{
color: var(--text-color);
font-size: 2rem;
display: flex;
gap: 3rem;
list-style-type: none;
margin-left: 15%;
position: sticky;
top: 0; /* Stick to the top of the screen */
z-index: 999; 
}

.aboutButton li{
padding: 0.7rem 2.4rem;
background-color: var(--inactive-color);
border-radius: 5rem;
}

.aboutButton li:hover,
.aboutButton .active{
background-color: var(--selected-color);
/* transition: all 0.5s ease-in-out; */
cursor: pointer;
}

.cornerImage{
  border: 0;
  bottom: 0;
  transform: rotate(180deg);
  height: 4rem;
  width: 4rem;
}

.meetCrewContainer{
  display: flex;
  margin: 12.8rem 7%;
  flex-wrap: wrap;
}

.leftContainer,
.rightContainer{
  flex: 1;
}

.text{
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 10rem;
}

.text h2{
  color: var(--text-color);
  font-size: 3.6rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 5.4rem */
letter-spacing: -0.0792rem;
}

.text p{
  width: 85%;
  color: rgba(84, 42, 0, 0.50);
  font-size: 2.4rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 3.6rem */
letter-spacing: -0.0528rem;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.rightContainer p{
  font-size: 2rem;
  width: 55%;
  color: rgba(84, 42, 0, 0.50);
}

.leftContainer{
  align-items: center;
  justify-content: center;
}

.text2{
  display: flex;
  gap: 3.2rem;
}

.leftContainer2 h2{
  color: var(--text-color);
  font-size: 3.6rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 5.4rem */
letter-spacing: -0.0792rem;
margin-bottom: 3.2rem;
}

.text2 h3{
  color: var(--text-color);
  font-size: 2.8rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 5.4rem */
letter-spacing: -0.0792rem;
margin-bottom: 3.2rem;
}

.text3{
  width: 40%;
  color: rgba(84, 42, 0, 0.50);
  font-size: 2.4rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 3.6rem */
letter-spacing: -0.0528rem;
}

.text2 p{
  width: 85%;
  color: rgba(84, 42, 0, 0.50);
  font-size: 2.4rem;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 3.6rem */
letter-spacing: -0.0528rem;
}

.joinUs {
  margin-top: 1rem;
  display: flex;
  gap: 3rem;
}

.joinUs span:nth-child(1) {
  display: flex;
  background-color: var(--selected-color);
  padding: 0 3rem;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
font-size: 2.4rem;
}

.joinUs span:nth-child(2) {
  color: var(--text-color);
  padding: 0.8rem 0;
  font-size: 2.4rem;
  border-radius: 2rem;
}

@media (max-width: 1000px) {
  .title {
    width: fit-content;
  }

  .iniTitle{
    font-size: 6.4rem;
  }

  .aboutButton{
    font-size: 1.6rem;
    }
    
    .aboutButton li{
    padding: 0.5rem 2rem;
    }

    .leftSquare {

      height: 5rem;

      border-radius: 0 2rem 0 2rem;

    }

    .cornerImage{
      height: 2rem;
      width: 2rem;
    }

    .text h2{
      font-size: 2.4rem;
    }
    
    .text p{
      font-size: 1.6rem;
    }

    .rightContainer p{
      font-size: 1.6rem;
    }
    
    .leftContainer2 h2{
      font-size: 2.4rem;
    }
    
    .text2 h3{
      font-size: 2rem;
    }
    
    .text3{
      font-size: 1.6rem;
    }
    
    .text2 p{
      font-size: 1.6rem;
    }

    .joinUs span:nth-child(1) {
    font-size: 2rem;
    }
    
    .joinUs span:nth-child(2) {
      font-size: 2rem;
    }

    .aboutButton{
      gap: 2rem;
      margin-left: 5%;
    }

}

@media (max-width: 768px) {
  .joinUs span:nth-child(1) {
    font-size: 1.6rem;
    }
    
    .joinUs span:nth-child(2) {
      font-size: 1.6rem;
    }

}

@media (max-width: 480px) {
  .iniImageTitleContainer{
    position: relative;
    width: auto;
    height: 100%;
    margin: 0;
    border-radius: 0;
  }
  
  .iniImage{
    border-radius:0 0 0 5rem;
    height: 100%;
    width: auto;
    object-fit: cover;
  }

  .iniTitle{
    font-size: 4.8rem;
  }

  .aboutButton{
    font-size: 1.2rem;
    }
    
    .aboutButton li{
    padding: 0.4rem 0.8rem;
    }

    .leftSquare {

      height: 5rem;

      border-radius: 0 2rem 0 2rem;

    }

    .cornerImage{
      height: 2rem;
      width: 2rem;
    }

    .text h2{
      font-size: 2rem;
    }
    
    .text p{
      font-size: 1.6rem;
    }

    .rightContainer p{
      font-size: 1.6rem;
    }
    
    .leftContainer2 h2{
      font-size: 2rem;
    }
    
    .text2 h3{
      font-size: 1.8rem;
    }
    
    .text3{
      font-size: 1.6rem;
    }
    
    .text2 p{
      font-size: 1.6rem;
    }

    .joinUs span:nth-child(1) {
    font-size: 1.6rem;
    }
    
    .joinUs span:nth-child(2) {
      font-size: 1.6rem;
    }

    .aboutButton{
      gap: 1rem;
      margin-left: 5%;
    }

    .meetCrewContainer{
      display: flex;
      margin: 4rem 7%;
      flex-wrap: nowrap;
      flex-direction: column;
    }

    .text2{
      flex-direction: column;
    }

    .text3{
      width: 80%;
    }
}